extends __layout

block title
  title #{mod.name} - Sons of the forest Mods

block meta
  meta(content=mod.name, property="og:title")
  meta(content=(mod.short_description), property="og:description")
  meta(content=(mod.primary_image_url || "https://files.sotf-mods.com/download/1722086199054_lowergraphicstool222_thumbnail.png"), property="og:image")
  link(type="application/json+oembed", href=`https://sotf-mods.com/mods/${mod.user_slug}/${mod.slug}.json`)
  link(rel='stylesheet' href='/static/css/mod.css')
  link(rel='stylesheet' href='/static/css/description.css')

block head
  //- span

block body
  .top-spacer
  .wrapper.m-4
    .flex.justify-center.mt-8
      p.text-5xl(style="overflow-wrap: anywhere;") #{mod.name}
    .flex.justify-center.mb-8
      p.text-base #{_("mod.by")} 
        a.text-accent(href=`/profile/${mod.user_slug}`) #{mod.user_name}
    div(class="grid grid-cols-1 lg:grid-cols-2 gap-4")
      div.mod-info.m-4
        img.mod-logo(data-lazy-src=mod.primary_image_url, alt=mod.name)
        .flex.justify-center.flex-wrap
          p.text-base.m-4(style="overflow-wrap: anywhere;") #{mod.short_description}
        - if (!mod.isApproved)
          .flex.justify-center
            p.text-error.text-xs.mt-4 #{_("mod.pending_approval")}
        .flex.justify-center.flex-wrap
          - if (mod.latest_version)
            a(
              class="btn btn-outline btn-accent m-4 table-auto"
              href=`/mods/${mod.user_slug}/${mod.slug}/download/${mod.latest_version}`
              target="_blank"
            ) #{_("mod.direct_download")}
          - else
            a(
              class="btn btn-outline m-4 table-auto btn-disabled"
              href="#!"
            ) #{_("mod.direct_download")}
          button#btnOneClickInstall.btn.btn-outline.btn-secondary.m-4(class=(mod.latest_version ? "" : "btn-disabled"))
            | #{_("mod.one_click_install")}
        .flex.justify-center.flex-wrap
          span.stat-desc.text-accent ↗︎ #{mod.downloads} #{_("mod.downloads")}
          span.stat-desc.text-secondary.ml-2.follows-count ♥ #{mod.favorites} #{_("mod.follows")}
          - if (mod.latest_version)
            span.stat-desc.ml-2 ⏱ #{_("mod.version")} #{mod.latest_version} #{_("mod.released")} #{mod.time_ago}
          - else
            span.stat-desc.ml-2 ⏱ #{_("mod.announced")} #{mod.time_ago}
        - if (user && user.slug !== mod.user_slug)
          .flex.justify-center
            a.mod-favorite.m-2(href="#!", onclick="toggleFavorite(this, '" + mod.mod_id + "')")
              span.inline-flex.items-baseline(id="modFavorite:" + mod.mod_id + ":on" class=mod.isFavorite ? "" : "hidden")
                <svg width="1.6rem" class="self-center w-5 h-5 rounded-full mx-1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 512 512"><path d="M462.3 62.6C407.5 15.9 326 24.3 275.7 76.2L256 96.5l-19.7-20.3C186.1 24.3 104.5 15.9 49.7 62.6c-62.8 53.6-66.1 149.8-9.9 207.9l193.5 199.8c12.5 12.9 32.8 12.9 45.3 0l193.5-199.8c56.3-58.1 53-154.3-9.8-207.9z" fill="currentColor"></path></svg>
                span #{_("mod.unfollow")}
              span.inline-flex.items-baseline(id="modFavorite:" + mod.mod_id + ":off" class=mod.isFavorite ? "hidden" : "")
                <svg width="1.6rem" class="self-center w-5 h-5 rounded-full mx-1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 512 512"><path d="M458.4 64.3C400.6 15.7 311.3 23 256 79.3C200.7 23 111.4 15.6 53.6 64.3C-21.6 127.6-10.6 230.8 43 285.5l175.4 178.7c10 10.2 23.4 15.9 37.6 15.9c14.3 0 27.6-5.6 37.6-15.8L469 285.6c53.5-54.7 64.7-157.9-10.6-221.3zm-23.6 187.5L259.4 430.5c-2.4 2.4-4.4 2.4-6.8 0L77.2 251.8c-36.5-37.2-43.9-107.6 7.3-150.7c38.9-32.7 98.9-27.8 136.5 10.5l35 35.7l35-35.7c37.8-38.5 97.8-43.2 136.5-10.6c51.1 43.1 43.5 113.9 7.3 150.8z" fill="currentColor"></path></svg>
                span #{_("mod.follow")}
        - if (user && user.slug === mod.user_slug)
          .flex.justify-center.mt-4.flex-wrap
            a.btn.btn-outline.m-2(onclick="openModal('#modalEdit')") #{_("mod.update_details")}
            a.btn.btn-outline.m-2(onclick="openModal('#modalReleaseVersion')") #{_("mod.release_version")}
        - if (user && user.canApprove === true)
          .flex.justify-center.mt-4.flex-wrap
            - if (mod.isApproved)
              button.btn.btn-outline.m-2(onclick="unapprove(this)") #{_("mod.unapprove_mod")}
            - else
              button.btn.btn-outline.m-2(onclick="approve(this)") #{_("mod.approve_mod")}

      div.mod-downloads.m-4
        pre#modDescriptionTemplate.mod-description-template
      .flex.justify-center
        p.text-3xl.mb-8.mt-4 #{_("mod.version_history")}
          table.table
            thead
              tr
                th #{_("mod.version")}
                th #{_("mod.changelog")}
                th #{_("mod.Downloads")}
            tbody
              - for (const version of mod.versions)
                tr(class=version.isLatest ? "bg-base-100" : "")
                  td #{version.version}
                  td #{version.changelog}
                  td #{version.downloads}
      - if (!user)
        div
          script(
              src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2799839819522052"
              crossorigin="anonymous"
              async
            )
          ins(
              class="adsbygoogle my-4 rounded-md"
              style="display:block; text-align:center;"
              data-ad-layout="in-article"
              data-ad-format="fluid"
              data-ad-client="ca-pub-2799839819522052"
              data-ad-slot="7095594640"
            )
          script.
            (adsbygoogle = window.adsbygoogle || []).push({});

    //- Modals
    dialog#modalOneClickInstall.modal
      form.modal-box(method='dialog')
        h3.font-bold.text-lg #{_("mod.one_click_install_title")}
        p.py-4 #{_("mod.one_click_install_to_enable")}
        a(href="https://sotf-mods.com/static/downloads/sotfmodsoneclick-setup1.0.0.exe" class="hover-underline-animation" target="_blank" style="color: #36d399; cursor: pointer;")
          p #{_("mod.one_click_install_download")}
        .modal-action
          button.btn.btn-outline.btn-accent(onclick="dontShowOneClickModal()") #{_("mod.one_click_install_dont_show_again")}
          button.btn(onclick="closeModal('#modalOneClickInstall')") #{_("mod.one_click_install_close")}
    dialog#modalEdit.modal
      form.modal-box(method='dialog')
        h3.font-bold.text-lg #{_("mod.update_mod_details")}
        .form-control
          label.label
            span.label-text #{_("mod.Name")}
          input#mod-name.input.input-bordered(type="text", name="name", placeholder=_("mod.mod_name_placeholder") minlength="4" maxlength="24" value=mod.name)
        .form-control
          label.label
            span.label-text #{_("mod.Short description")}
          input#mod-shortDescription.input.input-bordered(type="text", name="name", placeholder=_("mod.mod_short_description_placeholder") minlength="10" maxlength="100" value=mod.short_description)
        .form-control.mb-4
          div(class="grid grid-cols-1 md:grid-cols-2 gap-4")
            div(class="md:m-4")
              label.label
                span.label-text #{_("mod.Mod description")}
                span.label-text-alt
                  | (
                  span#mod-description-character-count #{mod.description.length}
                  | / 2000 #{_("mod.characters")})
              textarea#mod-description.textarea.textarea-bordered.mod-description-textarea(name="description" placeholder=_("mod.mod_description_placeholder") minlength="10" maxlength="2000")
            div(class="md:m-4")
              label.label
                span.label-text #{_("mod.Mod description preview")}
              #mod-description-preview.mod-description-template(style="line-height: 1.3 !important;")
        .form-control.mt-2
          label.label
            span.label-text #{_("mod.Thumbnail")}
          input#mod-thumbnail(type="file" class="file-input file-input-bordered file-input-primary w-full" accept=".png,.jpeg,.gif")
        p #{_("mod.thumbnail_resolution")}
        a(href="https://sotf-mods.com/images/thumbnail.png", target="_blank" style="color: #36d399; cursor: pointer;")
          p #{_("mod.Download thumbnail template")}
        a(href="https://sotf-mods.com/images/hd_thumbnail.png", target="_blank" style="color: #d926a9; cursor: pointer;")
          p #{_("mod.Download hd thumbnail template")}
        label.cursor-pointer.label.ml-2
          span.label-text #{_("mod.Has NSFW content")}
          input#mod-isNSFW.toggle.toggle-secondary.ml-2(name='isNSFW' type='checkbox' checked=mod.isNSFW)
        .modal-action
          button.btn(onclick="closeModal('#modalEdit')") #{_("mod.Close")}
          button#updateModBtn.btn.btn-primary #{_("mod.Update")}
    dialog#modalReleaseVersion.modal
      form.modal-box(method='dialog')
        h3.font-bold.text-lg #{_("mod.Release version")}
        p.py-4 #{_("mod.release_text")} (#{_("mod.current_version")}: #{mod.latest_version || "1.0.0"})
        .form-control
          label.label
            span.label-text #{_("mod.Mod file")} (.zip)
        input#mod-file.w-full(type="file" class="file-input file-input-bordered file-input-secondary" accept=".zip")
        .form-control.mt-4
          label.label
            span.label-text #{_("mod.Changelog")}
        textarea#mod-changelog.textarea.textarea-bordered.h-24.w-full(name="changelog" placeholder=_("mod.mod_changelog_placeholder") minlength="10" maxlength="2000")
        .modal-action
          button.btn(onclick="closeModal('#modalReleaseVersion')") #{_("mod.Close")}
          button#releaseVersionBtn.btn.btn-secondary #{_("mod.Release")}
    #sotf-mods-m(data-m=btoa(JSON.stringify(mod)))

block scripts
  script(src="https://cdnjs.cloudflare.com/ajax/libs/showdown/2.1.0/showdown.min.js")
  script(src='/static/scripts/mod.js' type="module")
