extends __layout

block head
  link(rel='stylesheet' href='/static/css/mods.css')

block body
  .top-spacer

  .flex.flex-wrap.justify-center.mb-2
    h1.text-4xl Mods of the week
  #mods-featured.flex.flex-wrap.justify-around.mb-4.pb-4.min-h-64
  .stats-container.flex.justify-center.flex-wrap
    .stats.shadow(class="stats-vertical md:stats-horizontal")
      .stat.place-items-center(style="min-width: 280px;")
        .stat-title Downloads
        .stat-value.text-secondary #{stats.downloads}
        .stat-desc.text-secondary Since 2023
      .stat.place-items-center
        .stat-title Users
        .stat-value.text-accent #{stats.users}
        .stat-desc.text-accent Registered
      .stat.place-items-center(style="min-width: 280px;")
        .stat-title Mods Published
        .stat-value.text-primary #{stats.mods}
        .stat-desc.text-primary From #{stats.developers} developers
  #mods-discover-section.mt-4
    #mods-discover-search-container
      .flex.justify-between.flex-wrap
        input#mods-discover-search.input.input-bordered.input-success.w-full.mb-2(type='text' placeholder='Type here')
        //- Categories
        select#mods-discover-categories.m-auto.select.select-sm.w-38
          option(value='') All categories
          - for(const category of categories)
            option(value=category.slug) #{category.name}
        //- Order by
        select#mods-discover-order-by.m-auto.select.select-sm.w-32
          option(value='newest') Newest
          option(value='oldest') Oldest
          option(value='popular') Popular
          option(value='unpopular') Unpopular
          option(value='random' disabled='') Random
        //- Show Unapproved
        label.cursor-pointer.label.m-auto
          span.label-text Unapproved
          input#mods-discover-show-unapproved.toggle.toggle-secondary.ml-2(type='checkbox')
        //- Show NSFW
        label.cursor-pointer.label.m-auto
          span.label-text NSFW
          input#mods-discover-nsfw.toggle.toggle-secondary.ml-2(type='checkbox')
      .flex.justify-between.flex-wrap
    #mods-discover-pagination-up.flex.flex-wrap.justify-center
    #mods-discover-container.flex.flex-wrap.justify-center
      span(class="loading loading-infinity loading-lg text-success center")
    #mods-discover-pagination.flex.flex-wrap.justify-center

    - if (!user)
      div
        script(
            src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2799839819522052"
            crossorigin="anonymous"
            async
          )
        ins(
            class="adsbygoogle my-4 rounded-md"
            style="display:block; text-align:center;"
            data-ad-layout="in-article"
            data-ad-format="fluid"
            data-ad-client="ca-pub-2799839819522052"
            data-ad-slot="7095594640"
          )
        script.
          (adsbygoogle = window.adsbygoogle || []).push({});
block scripts
  script(src='/static/scripts/mods.js' type="module")
