extends __layout

block head
  link(rel='stylesheet' href='/static/css/main.css')

block body
  form#register-form.hero.min-h-screen(action='/register' method='post')
    .hero-content.flex-col(class='lg:flex-row-reverse')
      .text-center(class='lg:text-left')
        h1.text-5xl.font-bold #{_("register.Register now!")}
        p.py-6
          | #{_("register.already_have_an_account")}
          br
          | #{_("register.You can do so by")}&nbsp;
          a(href='/login' class='link link-primary') #{_("register.clicking here")}
          | &nbsp;#{_("register.to log in.")}
      .card.flex-shrink-0.w-full.max-w-sm.shadow-2xl.bg-base-100
        .card-body
          .form-control
            label.label
              span.label-text #{_("register.Email")}
            input.input.input-bordered(type="email", name="email", placeholder=_("register.email_placeholder"))
          .form-control
            label.label
              span.label-text #{_("register.Username")}
            input.input.input-bordered(type="username", name="username", placeholder=_("register.username_placeholder"))
          .form-control
            label.label
              span.label-text #{_("register.Password")}
            input.input.input-bordered(type="password", name="password", placeholder=_("register.password_placeholder"))
          .form-control
            label.label
              span.label-text #{_("register.Confirm Password")}
            input.input.input-bordered(type="password", name="confirm_password", placeholder=_("register.repeat_password_placeholder"))
          .form-control.mt-6
            button.btn.btn-primary #{_("register.Register")}

block scripts
  script(src='/static/scripts/register.js' type="module")
